.advice-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
}

.content-page {
    display: flex;
    flex-direction: column;
    gap: 24px
}