.table-general {
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 64px;
    padding: 0 24px 0 24px;
}

.card-settings {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    border-radius: 24px;
    right: 0;
    top: 0;
    margin-top: 65px;
    padding: 24px 24px 24px;
    width: 320px;
    gap: 16px
}

.body-settings {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
}

.text-area {
    min-width: 250px;
    max-width: 750px;
    width: 500px;
}

.modal-title {
    margin-bottom: 12px;
}

.handler-message {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    user-select: none;
}

.action-card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.card-room {
    display: flex;
    flex-direction: column;
    gap:16px
}

.card-content {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.card-img-room {
    object-fit: cover;
    width: 100%;
}

.card-body {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
}

.card-action-room {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.height-collapse {
    height: fit-content;
}

@media only screen and (max-width: 600px) {
    .text-area {
        width: 350px;
        max-width: 500px;
    }
}

@media only screen and (max-width: 480px) {
    .text-area {
        width: 322px;
        max-width: 322px;
    }
}