.paper_login {
    display: grid;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    border-radius: 8px;
    gap: 18px;
    width: 400px;
}

@media (max-width: 480px) {
    .paper_login {
        width: 280px;
    }
}

